@model IEnumerable<EFGetStarted.AspNetCore.NewDb.Models.Contatto>

@{
    ViewData["Title"] = "Index";
}

<h2>Elenco contatti</h2>

<p>
    <a asp-action="Create">Crea nuovo contatto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Numero telefono
            </th>
            <th>
                FAX
            </th>
            <th>
                Numero cellulare
            </th>
            <th>
                E-mail
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nTelefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nFax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nCellulare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eMail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContattoId">MOdifica</a> |
                <a asp-action="Details" asp-route-id="@item.ContattoId">Dettagli</a> |
                <a asp-action="Delete" asp-route-id="@item.ContattoId">Elimina</a>
            </td>
        </tr>
}
    </tbody>
</table>
