@model EFGetStarted.AspNetCore.NewDb.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h2>Elimina</h2>

<h3>Sei sicuro di voler rimuovere questo utente?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            Cognome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cognome)
        </dd>
        <dt>
            Data di nascita
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dNascita)
        </dd>
        <dt>
             Sesso
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sesso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo.descrizione)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="form-group">
        <input type="hidden" asp-for="ClienteId" />
        <input type="submit" value="Elimina" class="btn btn-default" />
        
    </form>
</div>
<div>
    <a asp-action="Index">Torna alla lista ></a>
</div>
