@model EFGetStarted.AspNetCore.NewDb.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cognome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cognome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dNascita)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dNascita)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sesso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sesso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contatto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contatto.ContattoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Indirizzo.IndirizzoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo.TipoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ClienteId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
