@model EFGetStarted.AspNetCore.NewDb.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h2>Dettagli</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            Cognome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cognome)
        </dd>
        <dt>
            Data di nascita
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dNascita)
        </dd>
        <dt>
            Sesso
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sesso)
        </dd>
        <dt>
            Contatti
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contatto.nTelefono)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Contatto.nFax)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Contatto.nCellulare)
        </dd>
        <dt>
            Indirizzo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Indirizzo.IndirizzoId)
        </dd>
        <dt>
            Tipo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo.descrizione)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClienteId">Modifica</a> |
    <a asp-action="Index">Torna alla lista</a>
</div>
