@model IEnumerable<EFGetStarted.AspNetCore.NewDb.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h2>Elenco utenti</h2>

<!--ricerca campo-->
<form asp-controller="Clienti" asp-action="Index">
    <p class="itext">
        <input type="text" name="SearchString" placeholder="Ricerca nome">
        <input type="text" name="SearchString1" placeholder="Ricerca cognome">
        <input type="text" name="SearchString2" placeholder="Ricerca data di nascita">
        <label class="rad">
        <input type="radio" name="SearchString3" value="M"> <i></i> &nbsp; Maschio
        </label>
        <label class="rad">
        <input type="radio" name="SearchString3" value="F"> <i></i> &nbsp; Femmina |
        </label>
        <label class="rad">
        <input type="checkbox" name="SearchString4" value="cliente">Cliente
        </label>
        <label class="rad">
        <input type="checkbox" name="SearchString5" value="fornitore">Fornitore
        </label>
        <button type="submit" class="button">
        <img src="/images/finder.svg" width="30px" height="30px" alt="submit" title="Cerca"/>
        </button>
    </p>
</form>

<p>
    <a asp-action="Create">Crea nuovo utente ></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Cognome
            </th>
            <th>
                Data di nascita
            </th>
            <th>
                Sesso
            </th>
            <th>
                ID Contatti
            </th>
            <th>
                ID Indirizzi
            </th>
            <th>
                Tipo utente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dNascita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sesso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contatto.ContattoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indirizzo.IndirizzoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo.TipoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClienteId">Modifica ></a>
                <a asp-action="Details" asp-route-id="@item.ClienteId">Dettagli ></a>
                <a asp-action="Delete" asp-route-id="@item.ClienteId">Elimina ></a>
            </td>
        </tr>
}
    </tbody>
</table>
