@model EFGetStarted.AspNetCore.NewDb.Models.Fattura

@{
    ViewData["Title"] = "Delete";
}

<h2>Elimina</h2>

<h3>Sei sicuro di voler rimuovere questa fattura?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fattura n.
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FatturaId)
        </dd>
        <dt>
            Quantità prodotto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quantitaProdotto)
        </dd>
        <dt>
            IVA
        </dt>
        <dd>
            @Html.DisplayFor(model => model.iva) %
        </dd>
        <dt>
            Sconto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sconto) %
        </dd>
        <dt>
            Importo totale
        </dt>
        <dd>
            @Html.DisplayFor(model => model.totFattura) €
        </dd>
        <dt>
            Emittente
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.cognome)
            @Html.DisplayFor(model => model.Cliente.nome)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="form-group">
        <input type="hidden" asp-for="FatturaId" />
        <input type="submit" value="Elimina" class="btn btn-default" />
    </form>
</div>
<div>
    <a asp-action="Index">Torna alla lista ></a>
</div>