@model EFGetStarted.AspNetCore.NewDb.Models.Fattura

@{
    ViewData["Title"] = "Details";
}

<h2>Dettagli</h2>

<div>
    <h4>Fattura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fattura n.
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FatturaId)
        </dd>
        <dt>
            Quantità prodotto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quantitaProdotto)
        </dd>
        <dt>
            IVA
        </dt>
        <dd>
            @Html.DisplayFor(model => model.iva) %
        </dd>
        <dt>
            Sconto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sconto) %
        </dd>
        <dt>
            Importo totale
        </dt>
        <dd>
            @Html.DisplayFor(model => model.totFattura) €
        </dd>
        <dt>
            Emittente
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.cognome)
            @Html.DisplayFor(model => model.Cliente.nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FatturaId">Modifica ></a> |
    <a asp-action="Index">Torna alla lista ></a>
</div>
