@model EFGetStarted.AspNetCore.NewDb.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cognome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cognome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dNascita)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dNascita)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sesso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sesso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contatto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contatto.nTelefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Spedizione)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Spedizione.nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClienteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
