@model EFGetStarted.AspNetCore.NewDb.Models.Acquisti

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Acquisti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.cognome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Spedizione)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Spedizione.SpedizioneId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fattura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fattura.FatturaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AcquistiID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
