@model IEnumerable<EFGetStarted.AspNetCore.NewDb.Models.Spedizione>

@{
    ViewData["Title"] = "Index";
}

<h2>Spedizioni</h2>

<p>
    <a asp-action="Create">Crea nuovo tipo di spedizione</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Descrizione
            </th>
            <th>
                Costi spedizione
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costiSpedizione)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpedizioneId">Modifica</a> |
                <a asp-action="Details" asp-route-id="@item.SpedizioneId">Dettagli</a> |
                <a asp-action="Delete" asp-route-id="@item.SpedizioneId">Elimina</a>
            </td>
        </tr>
}
    </tbody>
</table>
