@model IEnumerable<EFGetStarted.AspNetCore.NewDb.Models.Indirizzo>

@{
    ViewData["Title"] = "Index";
}

<h2 class="pippo">Elenco indirizzi</h2>

<p>
    <a asp-action="Create">Crea nuovo indirizzo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Indirizzo spedizione
            </th>
            <th>
                Indirizzo fatturazione
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.indirizzoSpedizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.indirizzoFatturazione)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IndirizzoId">Modifica</a> |
                <a asp-action="Details" asp-route-id="@item.IndirizzoId">Dettagli</a> |
                <a asp-action="Delete" asp-route-id="@item.IndirizzoId">Elimina</a>
            </td>
        </tr>
}
    </tbody>
</table>
