@model IEnumerable<EFGetStarted.AspNetCore.NewDb.Models.Indirizzo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.indirizzoSpedizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.indirizzoFatturazione)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.indirizzoSpedizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.indirizzoFatturazione)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IndirizzoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IndirizzoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IndirizzoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
